@import "/home/maguila/.cache/wal/colors-waybar.css";

* {
    font-family: MonaspiceNe Nerd Font;
    font-size: 15px;
    margin-top: 2px;
}

window#waybar {
    background-color: @color1;
    color: @color5;
    background-color: transparent;
}

#network,
#cpu,
#memory,
#battery {
    background-color: @color1;
    color: @color5;
    padding: 0 7px;
    border-radius: 7px;
}

#clock {
    background-color: @color1;
    color: @color5;
    padding: 0 7px;
    border-radius: 7px;
    margin-right: 10px;
}

#workspaces button {
    background-color: @color1;
    color: @color5;
    padding: 0 10px;
    border-radius: 7px;
    margin-left: 10px;
}

#workspaces button.active {
    background-color: @color3;
    color: @color1;
}

#custom-welcome {
    background-color: @color1;
    color: @color5;
    padding: 0 7px;
    border-radius: 7px;
}
