* {
      background-color: rgb(153, 72, 129);
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
      align-items: center;
      align-content: center;
}

.header {
      
}