* {
      background-color:darkseagreen;
      color:darkslategray;
}

.heading {
      
}

.events {

}

#tasks {
      background-color: bisque;
      padding: 0 25px;
      border-radius: 12px;
      margin: 10px;
      max-width: fit-content;
}

#AddEvent {

}

.calendar {

}