* {
      background-color:darkseagreen;
      color:darkslategray;
}

#events {
      background-color: bisque;
      padding: 0 25px;
      border-radius: 12px;
      margin: 10px;
      max-width: fit-content
}

#tasks {
      background-color: bisque;
      padding: 0 25px;
      border-radius: 12px;
      margin: 10px;
      max-width: fit-content;
}

#addEvent {
      background-color: bisque;
      padding: 10px;
      min-height: 80px;
      max-width: 80px;
      border-radius: 12px;
      border-style: hidden;
}

#month {

}

#year {

}

#calendar {

}

#days {

}